.sortBlock {
  width: 100%;
  margin-bottom: 20px;
  &__btn {
    width: 100%;
    height: 50px;
    background: #FFFFFF;

    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4A4A4A;
    border: 1px solid #DFE5EC;

    cursor: pointer;

    @media (min-width: 450px) {
      width: 50%;
    }

    @media (min-width: 900px) {
      width: 252px;
    }

    &_left {
      border-right: none;

      @media (min-width: 450px) {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

    &_right {
      border-left: none;

      @media (min-width: 450px) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    &_active {
      color: #FFFFFF;
      background: #2196F3;
      border-color: #2196F3;
    }
  }
}