*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans SemiBold";
  src: url('./fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('./fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
      url('./fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans SemiBold", Arial, Helvetica, sans-serif;
  background: #E5E5E5;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}